permetrics==2.0.0
scipy==1.8.0
tqdm==4.67.1
trimesh==4.7.0
seaborn==0.11.2
networkx==2.4
numpy==1.22.3
joblib==1.5.1
thoi==0.2.37
re==2.2.1
pandas==1.3.5
karateclub==1.3.3
plotly==4.6.0
matplotlib==3.5.2
sklearn==1.6.1
IPython==8.4.0